<div *ngIf="errorText" class="alert alert-danger">
    {{errorText}}
</div>
<div class="container" *ngIf="driver">
    <div class="col-md-offset-1">
        <div>
            <h1 class="text-warning">{{driver.permanentNumber}}</h1>
            <h1>{{driver.givenName +" " + driver.familyName}}</h1>

            <span class="col-md-3">
                <img *ngIf="imageUrl" [src]="imageUrl" width="200px" />
            </span>

            <span class="row col-md-3">
                <table class="table">
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{driver.dateOfBirth}}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>{{driver.nationality}}</td>
                    </tr>
                </table>
            </span>
        </div>


        <div class="row">
            <!-- <div *ngIf="!driverStandings"><i class="glyphicon-hourglass"></i></div>
            <app-standings-chart *ngIf="driverStandings" [standings]="driverStandings" height="400px"></app-standings-chart> -->
        </div>
    </div>
</div>