<div>
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
            <div>
                <div>
                    <a routerLink="/"><img class="navbar-brand" src="../assets/logo.png" alt="Logo" /></a>
                    <a class="navbar-brand" routerLink="/">F1 Stats</a>
                </div>
            </div>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Seasons <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let season of seasons | seasonsSort:listFilter">
                            <a routerLink="/seasons/{{season.season}}">
                                {{season.season}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </nav>

    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>

    <router-outlet></router-outlet>

</div>