<div>
    <div *ngIf="errorText">
        {{errorText}}
    </div>

    <div class="col-md-offset-1 container-fluid">
        <div class="row">
            <div class="col-md-5 text-center">
                <h1>
                    <b>Next Race:</b> {{nextRace ? nextRace.raceName : "Loading..."}}
                </h1>
                <div *ngIf="nextRace">
                    <span>{{nextRace.Circuit.circuitName}}</span>
                    <h5>{{nextRace.getLocalTime() | date:"medium"}}</h5>
                    <br />
                </div>
            </div>
            <div class="col-md-5">
                <h1 class="text-center">Standings</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" >
                <div *ngIf="mapSource">
                    <iframe class="col-md-12" height="400px" frameborder="0" style="border:0" [src]="getMapSource()" allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div class="col-md-6">
                <app-standings-chart *ngIf="currentSeasonStandings" [standings]="currentSeasonStandings" height="400px"></app-standings-chart>
                <div *ngIf="!currentSeasonStandings" class="text-center"><i class="glyphicon-hourglass"></i></div>
            </div>
        </div>

        <div class="row">
            <br />
            <div class="col-md-5">
                <h1 class="text-center">Previous Race</h1>
                <app-race-result round="last"></app-race-result>
            </div>
        </div>
    </div>
</div>